<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OAuth2FLow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OAuth2Flow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OAuth2FlowLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OAuth2FlowResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFEA32611BEB823A00D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA326B1BEB823B00D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA32941BEB844800D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA32A11BEB847300D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA32B11BEB85B200D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA32BA1BEB85B200D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA32F21BEB866E00D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA32FB1BEB866E00D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA33151BEB86B200D2E6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
